html {
    height: 100%;
}

body {
    background-color: white;
    font-family: sans-serif;
    height: 100%;
    margin: 0 auto;
    max-width: 1041px;
    min-width: 620px;
}

#web-application {
    height: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}

@keyframes animateEntry {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.print-only-flex {
    display: none !important;
    page-break-before: always;
}

@media print {
    .not-printable {
        display: none !important;
    }

    .print-only-flex {
        display: flex !important;
    }
}
